@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: lightgreen;
    color: white;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 85%;
}

p {
    text-indent: 25px;
    text-align: justify;
}

header {
    background-image: linear-gradient(lightgreen, darkgreen);
    color: white;
    text-align: center;
    margin: 0px;
    height: 200px;
    padding: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}

#titulo {
    font-family: idroid, Arial, Helvetica, sans-serif;
    color: darkgreen;
    font-size: 1.6em;
}

h2 {
    background-image: linear-gradient(to right, lightgreen, white);
    color: darkgreen;
    font-family: idroid, Arial, Helvetica, sans-serif;
}

nav p {
    display: inline;
    margin: 10px;
    text-align: left;
    padding: 20px 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-image: radial-gradient(rgba(255, 255, 255, 0.589), rgba(2, 2, 2, 0.5));
    border-radius: 5px;
    padding: 2px;
    color: black;
}

ul {
    text-align: left;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: inline-block;
    font-size: 1em;
    margin: 0px 5px 0px 0px;
}

li {
    font-size: 1em;
    margin: 0px 5px 0px 0px;
}

.lista_android {
    font-weight: bolder;
}

main {
    background-color: white;
    color: black;
    margin: auto;
    width: 60%;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.26);
    border-radius: 0px 0px 15px 15px;
}

#imagem1 {
    width: 0.5vw;
    margin: auto;
    max-width: 710px;
}

#img-droid1 {
    max-width: 90%;
}

#img-droid2 {
    max-width: 90%;
    padding: 10px;
}

picture#foto1 {
    display: block;
    text-align: center;
    width: 100%;
}

picture#imagem2 {
    display: block;
    text-align: center;
}

div#video {
    background-color: darkgreen;
    padding: 10px 15px;
    height: 350px;
    border-radius: 0px;
}

iframe {
    display: block;
    margin: auto;
    height: 90%;
    width: 90%;
    padding: auto;
}

aside h3 {
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 10px 10px 0px 0px;
}

aside {
    background-color: aquamarine;
    margin-top: 10px;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    border-radius: 10px;
}

aside ul {
    display: inline-block;
    padding: auto;
    margin: auto;
}

footer {
    background-color: darkgreen;
    margin-top: 15px;
    min-height: 30px;
    width: 100%;
    text-align: center;
}